.toplevel_page_custom-wp-app #wpcontent {
  background: #fff;
  height: 1000px;
}
button .components-spinner {
  width: 15px;
  height: 15px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.form-buttons {
  display: flex;
}
.my-gutenberg-form .form-buttons {
  margin-top: 20px;
  margin-left: 1px;
}
.form-error {
  color: #cc1818;
}
.form-buttons button {
  margin-right: 4px;
}
.form-buttons .components-spinner {
  margin-top: 0;
}
#custom-wp-app {
  max-width: 500px;
}
#custom-wp-app ul,
#custom-wp-app ul li {
  list-style-type: disc;
}
#custom-wp-app ul {
  padding-left: 20px;
}
#custom-wp-app .components-search-control__input {
  height: 36px;
  margin-left: 0;
}

#custom-wp-app .list-controls {
  display: flex;
  width: 100%;
}

#custom-wp-app .list-controls .components-search-control {
  flex-grow: 1;
  margin-right: 8px;
}
