/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-newspaper-block {
  box-sizing: border-box;
  column-fill: balance;

  &.is-style-drop-cap {
    p:first-of-type:first-letter {
      color: #b8b8b8;
      float: left;
      font-size: 3.8rem;
      line-height: 3.5rem;
      padding-right: 0.33rem;
    }
  }
}
